.App .container {
  height: 500px;
  width: 800px;
  margin: 100px auto;
  border-radius: 10px;
  text-align: center;

  background-image: linear-gradient(to top, #E0BBE4 0%, #D5C1E0 50%, #330867 100%);
}
