.Current .current {
  max-width: 500px;
  margin: 0 auto;
  padding: 0px;
  color: #10375c;
}
.Current .current-temp {
  font-size: 45px;
  margin-left: 0px;
}
.Current #current-icon {
  height: 100px;
}
.Current #current-list {
  list-style: none;
  padding-left: 10px;
}
.Current #change-temp {
  font-size: 16px;
  margin-left: 128px;
  color: #e4e3e3;
  position: relative;
  bottom: 15px;
}
.Current #current-details {
  list-style: none;
  font-size: 20px;
  margin-top: 15px;
  padding-left: 30px;
}
.Current #current-description {
  text-transform: capitalize;
}
