.Current .current {
  max-width: 500px;
  margin: 0 auto;
  padding: 0px;
  color: #340c69;
}
.Current .current-temp {
  font-size: 55px;
  margin-left: 0px;
  margin-top: 15px;
  line-height: 60px;
  font-weight: 300;
}
.Current canvas {
  height: 70px;
  color: aliceblue;
  margin-top: 5px;
  margin-right: 15px;
}

.Current .current-list {
  list-style: none;
  padding-left: 10px;
}
.Current .change-temp {
  font-size: 16px;
  color: #10375c;
  position: relative;
  bottom: 15px;
}

.Current .change-temp a {
  color: aliceblue;
}

.Current .current-details {
  list-style: none;
  font-size: 20px;
  margin-top: 15px;
  padding-left: 30px;
  text-align: left;
  font-weight: normal;
}
.Current .current-description {
  text-transform: capitalize;
}

.TempUnit {
  max-width: 140px;
  display: inline-block;
}

.Current-Icon {
  float: left;
}
