.Forecast .forecast {
  text-align: center;
  color: #10375c;
  font-size: 20px;
  position: relative;
  top: 15px;
}

.Forecast .forecast-icon {
  height: 30px;
}

.WeatherForecast {
  display: flex;
  justify-content: space-evenly;
  color: #340c69;
}
