.Search .form-inline {
  margin-top: 20px;
}
.Search .form-control-sm {
  border-width: thin;
  border: #e4e3e3;
}
.Search .btn-primary {
  margin-left: 10px;
  background: #408aab;
  border: #30cbce;
}
.Search .btn-primary:hover {
  background-color: #e4e3e3;
  color: #10375c;
}
