.Weather body {
  font-family: "Montserrat", sans-serif;
}
.Weather h1 {
  color: #e4e3e3;
  text-align: center;
  margin-top: 30px;
}
.Weather h4 {
  text-align: center;
  color: #10375c;
}
.Weather a {
  color: #10375c;
}
.App .container {
  height: 500px;
  width: 800px;
  margin: 100px auto;
  border-radius: 10px;
  background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);
}
