.Weather body {
  font-family: "Montserrat", sans-serif;
}
.Weather h1 {
  color: #e4e3e3;
  text-align: center;
  margin-top: 30px;
}
.Weather h4 {
  text-align: center;
  color: #10375c;
}
.Weather a {
  color: #10375c;
}
